.about {
  text-align: center;
  padding: 50px 20px;
  font-family: "Poppins", sans-serif;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto 30px;
  }

  h3 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .col-md-6 {
    transition: 1s all;
  }
  .col-md-6:hover{
    box-shadow: -1px 2px 52px -7px rgba(0,0,0,1);
  }
}
.divider {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
// Background
.background-image {
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../../../public/ep-bg.jpg");

  h2 {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 40px;
  }
  .content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: #333;
    }

    h4 {
      font-size: 1rem;
      margin-bottom: 10px;
      font-weight: 600;
      color: #333;
    }

    p {
      font-size: 0.9rem;
      color: #666;
    }
  }
}

.stats-section {
  display: flex;
  justify-content: space-between;
  // background-color: #1a1a1a;
  padding: 50px 20px;
  border-radius: 8px;
}

.stats-card {
  text-align: center;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 8px;
  width: 22%;
  color: white;
  transition: transform 0.3s ease;
}

.stats-card:hover {
  transform: translateY(-10px);
}

.stats-icon {
  font-size: 48px;
  margin-bottom: 20px;
  // color: #ffffffb3;
}

.stats-content h3 {
  font-size: 36px;
  margin: 0;
}

.card-body p {
  font-size: 18px;
  color: #ffffff80;
     
  a{
    text-decoration: none;
    color: black;
  }
}
