<div class=" row contact-container">
  <div class="col-md-12">

    <h2>Get In Touch</h2>
    <p>
      It is a long established fact that a reader will be distracted by the readable
      content of a page when looking at its layout.
    </p>
  </div>

  <div class="contact-details col-md-4 ">
    <div class="contact-item  ">
      <i class="fas fa-phone-alt mx-2"></i>
      <div class="con-info">

        <h4>Call On</h4>
        <p>9930760699</p>
      </div>

    </div>

    <div class="contact-item ">
      <i class="fas fa-envelope mx-2"></i>
      <h4>Email On</h4>
      <p>rohitbari27&#64;gmail.com</p>
    </div>

    <div class="contact-item ">
      <i class="fas fa-map-marker-alt mx-2"></i>
      <h4>Address</h4>
      <p>Bandra east</p>
    </div>


  </div>
  <div class="col-md-8">

    <form>
      <div class="form-group-main">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Your name..." />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" id="email" placeholder="Your email..." />
        </div>
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="Your Subject.." />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" placeholder="Your message..."></textarea>
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>

  <div class="col-lg-12 mb-5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1885.4690211927164!2d72.8519172062865!3d19.066461520233457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8e210330937%3A0x9e556a2cb26cb703!2sMaharashtra%20Nagar%2C%20Sant%20Dnyaneshwar%20Nagar%2C%20Bandra%20East%2C%20Mumbai%2C%20Maharashtra%20400051!5e0!3m2!1sen!2sin!4v1723891488631!5m2!1sen!2sin"
      width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>