<div class="home">
  <div class="content">
    <h2>Hello & Welcome</h2>
    <h1>I Am ROHIT BARI.</h1>
    <h2>Frontend Developer | Designer | Freelancer</h2>
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-whatsapp"><a  routerLink="/contact"></a></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-github"></i>
    </div>
    <a href="../../../public/RESUME-Rohit.pdf" download ><button class="download-cv"> Download CV</button></a>
  </div>
</div>
<app-skill></app-skill>
<section>

  <div class="container ">
    <div class="row py-5">

      <div class="col-lg-6 my-3">
        <h4>Experience</h4>
        <h1>My Experience</h1>
        <p>
          I'M working from 2024 but i have gain lots of experience by creating projects in college in 3 years. <br> 
          <strong>You can se my project section  in about</strong> 
        </p>
        <button class="download-cv">Download CV</button>
      </div>

      <div class="col-lg-6 my-3">
        <div class="job d-flex justify-content-between">
          <p>2024</p>
          <p>Bonum eDesign LLP</p>
        </div>
        <h3>Font-End Developer</h3>
        <hr>
      </div>
    </div>
  </div>
</section>